.main{
    margin-top: 85px;
    width: "100%";
    margin-left: 20px;
}
.heading {
   font-weight: 800;
}
.list{
    font-weight: 600;
    margin-top: 10px;
}
.start{
    margin: 5px;
    background-color:#1976d2;
}