

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Ness Logo"
    src="../../../assets/images/globe.png"
  />
 

    <div class="spacer"></div>

    <span class="header_item">Welcome <span class="user_text">{{ username }}</span></span>
    
    <span class="header_item">Sign Out</span>
  
</div>

<div class="content" role="main">
  <!-- <div class="card-container">
   <nav style="text-align: center;">
     <a routerLink="/home">Home</a>
     <ul>
       <li><a routerLink="/contact">Assignment 2</a></li>
       <li><a routerLink="/forms">Assignement 1</a> </li>
     </ul> 
 <a routerLink="/product-list">Product-list</a> 
     <a routerLink="/user-login">Usr Login</a> 

   </nav>
  </div> -->
  <app-dashboard></app-dashboard>
</div>
<app-home></app-home>
<router-outlet></router-outlet>
